body {
  margin: 0;
  font-family:  Verdana, sans-serif;
}

#tu{
  margin-left: 20px;
  color: rgb(207, 202, 230);
}
.navbar{
  background-color:#10062d ;
}
.navbar .navbar-nav .nav-link{
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus{
  color: #FFF500;
}
.navbar .navbar-nav .nav-link:hover{
  color: #FF006B;
}
.navbar .search{
  border-left: 1px solid #FFF500 ;
}
.imgg{
  margin-left: 40px;
}


.dropbtn {
  background-color: rgb(207, 202, 230);
  color: rgb(2, 1, 23);
  padding: 10px;
  font-size: 16px;
  font-family:"Roboto", sans-serif;
  border: none;
  border-radius: 13px;
  cursor: pointer;


}
.dropdown:hover {
  background-color: #9ea9c887;


}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 13px;
  margin-left:90%
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.326);
  z-index: 1;
  font-family:"Roboto", sans-serif;
}

/* .dropdown-content a {
  color: #051A53;
  font-family:"Roboto", sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.dropdown-content a:hover {color: rgb(207, 202, 230);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
   background-color: rgb(207, 202, 230);
}
.dropdown input{
  min-width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
background-color: #f9f9f9;
border: none;
color: #051A53;
}
.dropdown input:hover {

  color: #ff006a;

}
.log{
  min-width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
background-color: #f9f9f9;
border: none;
color:rgb(2, 1, 23);;
}
.log:hover{
  /* background-color: #4c7d245c */
  color:rgb(0, 0, 0)
}

.log:hover{
  /* background-color: #4c7d245c */
  color:rgb(0, 0, 0)
}
#topnav{
  color:#ff006a
}

.tabb{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  position: fixed;

  overflow: auto;

}
.formm{
  margin-left:30%;
  margin-top:5%
}
